<div style="text-align: center;">
  <!-- <h1>Hello Sahosoft Solutions !!</h1>
 <h2>{{name|uppercase}}</h2>
 <h2>{{name|welcome}}</h2>

 My name is <span [outerHTML]="name|bold"></span>.
<h2>{{name | reverse}}</h2> 

<h2>{{"Hello" | reverse}}</h2> 
<h2>{{"123456" | reverse}}</h2>  -->
<!-- <h2>{{str|limitword}}</h2>
<h2>{{str|limitword:15}}</h2>
<h2>{{str|limitword:15:'******'}}</h2>
<h2>{{str|limitword:25:'&&&&&&&&'}}</h2> -->


<h2>{{name |welcome | reverse}}</h2>

<h2>{{name |reverse | welcome}}</h2>

<h2>{{name |welcome | uppercase}}</h2>

<h2>{{name |uppercase | welcome}}</h2>

</div>